* {
  margin: 0;
}

#calculatorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#consoleContainer {
  width: 400px;
  height: 600px;
  background-color: black;
}

#calculatorDisplay {
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  width: 400px;
  height: 100px;
}

#buttonContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background-color: grey;
}

.button {
  display: flex;
  width: 100px;
  height: 100px;
  border-color: white;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
}



