* {
  margin: 0;
}

body {
  background-image: linear-gradient(to right, purple, cyan);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.7cm;
}

#calculatorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

#consoleContainer {
  width: 400px;
  height: 600px;
  background-color: black;
  border-radius: 5px;
}

#calculatorDisplay {
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  width: 400px;
  height: 100px;
}

#buttonContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background-color: grey;
}

.button {
  display: flex;
  width: 100px;
  height: 100px;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
}

.leftNumber {
  background-color: #fde4f2;
}

.middleRow {
  background-color: #e3cdd9;
}

.rightNumber {
  background-color: #cab6c1;
}

.operator {
  background-color: #cc397b;
}

#submitBtn {
  background-color: #e2062c;
}


